* {
    
    color: hsl(0, 0%, 100%);
}

body {
    margin: auto;
    width: 80%;
    padding: 40px;
    background-color: hsl(243, 96%, 9%);
    font-family: "Outfit", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown > button {
    width: 119px;
    background-color: hsl(243, 27%, 20%);
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    align-self: flex-end;
    border: none;
}

button > img {
    background-color: hsl(243, 27%, 20%);
}

.content {
    background-color: hsl(243, 27%, 20%);
    width: 214px;
    height: 412px;
    padding: 6px 8px;
    /* text-align: center; */
    border-radius: 12px;
    margin-top: 10px;
    display: none;
}

.content > button {
    background-color: hsl(243, 27%, 20%);
    border: none;
    color: hsl(0, 0%, 100%);
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    padding: 12px 16px;
    width: 100%;
    text-align: left;
}

.temperature > p {
    color: hsl(240, 6%, 70%);
    font-size: 14px;
    margin-bottom: 8px;
}

/* .temps > p {
    padding: 10px 8px;
} */

header {
    margin-top: 50px;
}

header > h1{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    font-family:  "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    /* letter-spacing: 1px; */
}

.search {
    margin: auto;
    text-align: center;
    width: 50%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 1em;
    /* background-color: indianred; */
    height: 56px;
}

.search-bar {
    background-color: hsl(243, 27%, 20%);
    display: flex;
    border-radius: 12px;
    height: 56px;
    position: relative;
    width: 100%;
    margin-left: 20px;
    /* margin-right: 80px; */
}

.search-bar > img {
    height: 20px;
    color: hsl(240, 6%, 70%);
    position: absolute;
    left: 10px;
    top: 18px;
}

.search-bar > input {
    background-color: transparent;
    border: 10px hsl(243, 27%, 20%) solid;
    border-radius: 8px;
    width: 100%;
    margin-left: 10px;
    padding: 16px 24px;
}

.search-bar > input::placeholder {
    color: hsl(240, 6%, 70%);
    font-size: 16px;
    font-weight: 400;
    font-family: outfit, sans-serif;
}

.search-bar > input:focus::placeholder {
    color: hsl(240, 6%, 50%);
}    

.search-bar > input:focus {
    border: none;
    outline: none;
    margin-left: 20px;
    border-radius: 8px;
}

.search > button{
    width: 80%;
    background-color: hsl(233, 67%, 56%);
    padding: 16px 24px;
    font-family: outfit, sans-serif;
    border-radius: 12px;
    height: 56px; 
    border: none;
    font-weight: 400;
    margin-left: 20px;
}

.searching {
    margin: auto;
    text-align: center;
    width: 30%;
    display: none;
    margin-top: 20px;
    margin-left: 300px;
    background-color: hsl(243, 27%, 20%);
}

.weather-forecast {
    /* background-color: khaki; */
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 1em;
    margin-top: 2em;
}

.section-A {
    background-color: transparent;
}

.section-B {
    background-color: hsl(243, 27%, 20%);
    padding: 24px;
    border-radius: 12px;
}

.location-weather {
    display: grid;
    grid-template-columns: 70% 30%;
    background-image: url(../assets/images/bg-today-large.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 256px;
    border-radius: 20px;
    padding: 10px 20px;
    align-content: center;
}

.location {
    justify-self: center;
    align-self: center;
    /* background-color: indianred; */
    width: 100%;
}

.location > .city {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;
}

.location > .date {
    /* font-size: 14px; */
    color: hsl(250, 6%, 84%);
    font-weight: 400;
}

.weather {
    /* background-color: tomato; */
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 5% 50%;
    grid-gap: 5em;
    width: 100%;
}

.weather > img {
    height: 90px;
    width: 90px;
    justify-self: center;
    align-self: center;
    /* background-color: turquoise; */
}

.weather > h1 {
    /* background-color: lightgreen; */
    font-family: Bricolage Grotesque, sans-serif;
    font-weight: 300;
    font-size: 5em;
}

.wind-details {
    width: 93%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 1em;
    margin-top: 1em;
    /* background-color: tomato; */
}

.container1 {
    background-color: hsl(243, 27%, 20%);
    border-radius: 12px;
    padding: 20px;
    /* background-color: transparent; */
}

.container1 > h3 {
    color: hsl(240, 6%, 70%);
    font-weight: 300;
}

.container1 > h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-family: "DM Sans", sans-serif;

}

.hourly-forecast > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.header > button {
    background-color: hsl(243, 23%, 24%);
    border: 10px hsl(243, 23%, 24%) solid;
    padding: 8px 16px;
    border-radius: 8px;
    height: 37px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Dm Sans, sans-serif;
    font-weight: 500;
}

.header > p {
    font-size: 18px;
    font-weight: 500;
    word-spacing: 2px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

.header > button > img {
    background-color: hsl(243, 23%, 24%);
}

.box-1 {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 9em;
    background-color: hsl(243, 23%, 24%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 12px;
    border-radius: 8px;
    height: 40px;
    margin-bottom: 15px;
}

.time {
    display: flex;
    align-items: center;
    justify-items: center;
    /* background-color: indianred; */
}

.time > img {
    height: 40px;
    width: 40px;
}